<!-- base template is a template which contain the 
 code that is common to all of other template  -->



<!-- every thing of this file are 
  executed and when it reaches "block body" 
  then it again moves to index.html and code 
  inside "block body and endblock" is executed -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="{% static 'food/style.css '%}">
    <!-- including bootstrap to make navbar and other -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <title>foodapp.com</title>
</head>

<body>




    <nav class="navbar navbar-dark bg-dark">

        <a href="#" class="navbar-brand nav-link">Foodapp</a>

        <div class="navbar">
            <a class="nav-item nav-link " href="{% url 'create_item' %}" style="color:blue; margin-right: 10px;">Add
                Item</a>
            <a class="nav-item nav-link " href="#" style="color:blue; margin-right: 10px;">Delete Item</a>
            <a class="nav-item nav-link " href="#" style="color:blue; margin-right: 10px;"> View Item</a>
        </div>
        {% if user.is_authenticated %}
        <!--  this will authenticated if user is logged in or not  -->
        <!-- when user is logged in then it will show logout option and if user is logged out then it will show login option    -->
        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
            <!--   this form is used coz logout needs post method to be executed -->
            {% csrf_token %}
            <button type="submit" class="btn btn-link text-light" style="text-decoration:none;">Logout</button>
        </form>
        <a href="{% url 'profile' %}" class="nav-item nav-link text-light px-3">profile</a>

        {% else %}
        <a href="{% url 'login' %}" class="nav-item nav-link text-light px-3">Login</a>


        {% endif %}


    </nav>


    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div> 

    
    {% endfor %}
    {% endif %}
    {% block body %}
    {% endblock %}

</body>

</html>